{% extends "base.html" %}

{% block title %}Formulario de Curso{% endblock %}

{% block content %}
<section id="curso" class="container mt-5">
    <h2>Formulario de Curso</h2>
    <form action="/submit_form2" method="POST" id="form">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce el nombre" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="numero_asignaturas" class="form-label">Número de Asignaturas</label>
                <input type="number" class="form-control" id="numero_asignaturas" name="numero_asignaturas" placeholder="Introduce el número de asignaturas" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</section>
{% endblock %}
