{% extends 'base.html' %}

{% block title %}Editar Curso{% endblock %}

{% block content %}
<section id="alumno" class="container mt-5">
    <h2>Editar Curso</h2>
    <form action="{{ url_for('editar_curso', idcurso=curso.idcurso) }}" method="POST" id="form">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce el nombre" value="{{ curso.nombre }}" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="numero_asignaturas" class="form-label">Número de Asignaturas</label>
                <input type="text" class="form-control" id="numero_asignaturas" name="numero_asignaturas" placeholder="Introduce el número" value="{{ curso.numero_asignaturas }}" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" onclick="validarDatos(event)">Guardar cambios</button>
    </form>
</section>
{% endblock %}
