{% extends "base.html" %}

{% block title %}Inicio - Sistema Educativo{% endblock %}

{% block content %}
<div class="row justify-content-center fade-in">
    <div class="col-md-8 text-center">
        <h1 class="display-4">¡Bienvenido al Sistema Educativo!</h1>
        <p class="lead mt-3">Gestiona cursos, alumnos, profesores, matrículas y más de manera eficiente y sencilla.</p>
        <br class="my-4">
        <p class="mb-5">Explora las funcionalidades del sistema a través del menú de navegación.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('formulario') }}" role="button">Comienza registro</a>
    </div>
</div>
<div class="row justify-content-center fade-in">
    <div class="col-md-8 text-center mt-5">
        <h2>Características del Sistema</h2>
        <p>Este sistema te permite gestionar de manera eficiente todos los aspectos relacionados con la educación.</p>
        <ul class="list-unstyled">
            <li>Gestión de Alumnos</li>
            <li>Gestión de Profesores</li>
            <li>Gestión de Cursos</li>
            <li>Reportes detallados</li>
        </ul>
    </div>
</div>
{% endblock %}
