<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso de alumnos</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<!-- Menú de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index')}}">Sistema Educativo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('formulario') }}">Ingreso Alumno</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('formulario1') }}">Ingreso Profesor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('formulario2') }}">Ingreso Curso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('reporte') }}">Reporte</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Sección Alumno con formulario -->
<section id="alumno" class="container mt-5">
    <h2>Formulario de Alumno</h2>
    <form action="/submit_form" method="POST" id="form">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce el nombre">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="apellido1" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Introduce el primer apellido">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="direccion_electronica" name="direccion_electronica" placeholder="Introduce el email">
            </div>
            <div class="col-md-6">
                <label for="direccion" class="form-label">Dirección Postal</label>
                <input type="text" class="form-control" id="direccion_postal" name="direccion_postal" placeholder="Introduce la dirección">
            </div>
        </div>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="tiene_beca"  name="tiene_beca">

            <label class="form-check-label" for="beca">
                Beca
            </label>
        </div>
        <button type="submit" class="btn btn-primary" onclick="validarDatos(event)">Guardar</button>
    </form>
</section>

<!-- Bootstrap JS y Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="/static/js/alerts.js"></script>

</body>
</html>
