{% extends "base.html" %}

{% block title %}
Ingreso de Alumnos
{% endblock %}

{% block content %}
<section id="alumno" class="container mt-5">
    <h2>Ingresar Alumno</h2>
    <form action="/submit_form" method="POST" id="form">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce el nombre">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="apellido1" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Introduce el primer apellido">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="direccion_electronica" name="direccion_electronica" placeholder="Introduce el email">
            </div>
            <div class="col-md-6">
                <label for="direccion" class="form-label">Dirección Postal</label>
                <input type="text" class="form-control" id="direccion_postal" name="direccion_postal" placeholder="Introduce la dirección">
            </div>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="tiene_beca" name="tiene_beca">
            <label class="form-check-label" for="beca">Beca</label>
        </div>
        <button type="submit" class="btn btn-primary" onclick="validarDatos(event)">Guardar</button>
    </form>
</section>
{% endblock %}
