{% extends "base.html" %}

{% block title %}
Registro de Asignatura
{% endblock %}

{% block content %}
<section id="asignatura">
    <h2 class="text-center mb-4">Registro de Asignatura</h2>
    <form action="/submit_form3" method="POST" id="form">
        <div class="mb-3">
            <label for="idasignatura" class="form-label">ID Asignatura</label>
            <input type="number" class="form-control" id="idasignatura" name="idasignatura" required>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" maxlength="45" required>
        </div>
        <div class="mb-3">
            <label for="creditos" class="form-label">Créditos</label>
            <input type="number" class="form-control" id="creditos" name="creditos" required>
        </div>
        <div class="mb-3">
            <label for="cuatrimestre" class="form-label">Cuatrimestre</label>
            <input type="number" class="form-control" id="cuatrimestre" name="cuatrimestre" required>
        </div>
        <div class="mb-3">
            <label for="caracter" class="form-label">Carácter</label>
            <select class="form-control" id="caracter" name="caracter" required>
                <option value="obligatoria">Obligatoria</option>
                <option value="optativa">Optativa</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary w-100">Registrar Asignatura</button>
    </form>
</section>
{% endblock %}
